<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsoConnectString" value="Data Source=(local);Initial Catalog=Isoms_JingZhou;Persist Security Info=True;User ID=sa;PWD=sa;connection timeout=3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
